
{% extends 'base.html' %}
{% block content %}

    <div class="columns">
        <div class="column">
            <img src="{{url_for('static', filename='687_robot.jpg')}}" width="500px" height="auto"/>
            {% for (title, value) in highlights.items() %}
                <h3>{{title}}: {{value}}</h3>
            {% endfor %}
            <!-- {{highlights}} -->
        </div>
        <div class="column">
            <h2> <strong> Raw Data: </strong></h2>
            <table class="table">
                <thead>
                    {% for header in headers %}
                        <th> {{header}} </th>
                    {% endfor %}
                </thead>
                <tbdody>
                    {% for row in raw_match_data %}
                        <tr>
                            {% for data in row %}
                                <td>{{data}}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbdody>
            </table>
        </div>  
    </div>
{% endblock %}